:root {
  --primary-button: linear-gradient(0deg, rgb(11, 90, 11), rgb(126, 199, 10));
  --primary-color:  rgb(37, 196, 37);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #333;  
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

/* Animation */
@keyframes Grow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* Form login + register */
.main {
  background-image: url(images/image_2.gif);
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(45deg, rgb(11, 90, 11), rgb(199, 196, 10)); */
}

.form {
  width: 400px;
  min-height: 100px;
  padding: 32px 28px;
  text-align: center;
  background: #fff;
  border-radius: 32px;
  align-self: center;
  box-shadow: 0 2px 4px 0 rgb(51, 62, 73);
  /* box-shadow: 0 2px 4px 0 rgba(167, 182, 197, 0.4); */
  /* z-index: 1; */
}

#form-1 {
  width: 750px;
}

#form-1 .space {
  margin-top: 24px;
}

.form .heading {
  font-size: 2.8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group-parent {
  display: flex;
  justify-content: space-between;
}

.form-group-parent .form-control {
  width: 330px;
}

.form-group-parent .phone_dateofbirth .form-control {
  width: 80%;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-image: var(--primary-button);
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

#form-1 .form-submit {
  width: 50%;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.space {
  margin-top: 36px;
}

.form-nav-login {
  font-size: 1.3rem;
  margin-top: 12px;
}

.form-nav-login-link {
  color: var(--primary-color);
  text-decoration: none;
}

.form-nav-login-link:hover {
  text-decoration: underline;
}

::placeholder {
  font-size: 1.3rem;
}

.form-group-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group-remember-left {
  display: flex;
  align-items: center;
}

.form-group-remember .form-label{
  position: relative;
  top: 3px;
  padding-left: 6px;
  font-size: 1.3rem;
  font-weight: 700;
}

.form-group-remember-right .forgot-password {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem
}

.form-group-remember-right .forgot-password:hover {
  text-decoration: underline;
}

.phone_dateofbirth {
  display: flex;
  justify-content: space-between;
}

/* Forgot Password */
.main-forgot {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-forgot #form-3 {
  width: 410px;
  min-height: 100px;
  padding: 32px 28px;
  text-align: center;
  background: #fff;
  border-radius: 24px;
  align-self: start;
  margin-top: 100px;
  box-shadow: 0 2px 4px 0 rgb(51, 62, 73);
}

#form-3 .space {
  margin-top: 24px;
}

#form-3 .form-mess {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: left;
  font-weight: 500;
}

#form-3 .form-submit {
  width: 80%;
}

/* Reset Password */
.main-forgot #form-reset {
  width: 410px;
  min-height: 100px;
  padding: 32px 28px;
  text-align: center;
  background: #fff;
  border-radius: 24px;
  align-self: start;
  margin-top: 100px;
  box-shadow: 0 2px 4px 0 rgb(51, 62, 73);
}

/* Home CSS */
.home-app {
  height: 100vh;
  background-image: url(images/backgr_home.png);
  background-size: cover;
  background-repeat: round;
}

.home-app .header-home {
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-home .header__list-right {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 24px;
  margin-bottom: 0;
}

.header-home .header__list-left {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 24px;
  margin-bottom: 0;
}

.header__list-left-item {
  margin-right: 12px;
  font-size: 2rem;
}

.header__left-item-img {
  line-height: 64px;
  position: relative;
  top: 1px;
}

.header__list-right-item {
  margin-left: 16px;
  font-size: 2rem;
}

.header__plus {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.header__plus::before {
  content: '';
  display: block;
  width: 64px;
  height: 20px;
  position: absolute;
  top: 100%;
  right: 0;
}

.header__plus:hover .header__plus-list {
  display: block;
}

.header__plus-list {
  position: absolute;
  top: 150%;
  right: 1px;
  width: 90px;
  list-style: none;
  font-size: 1.4rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 0;
  z-index: 2;
  /*  */
  transform-origin: calc(100% - 8px) top;
  animation: Grow ease-in-out 0.2s;
  will-change: opacity, transform;
  display: none;
}

.header__plus-item {
  padding: 10px 12px;
}

.header__plus-item:hover {
  background-color: #f1f1f1;
}

.header__list-right-item-img {
  position: relative;
  top: -2px;
}

.header__list-right-item-name {
  font-size: 1.4rem;
}

/*  */
.app-container {
  padding-top: 64px;
  margin-top: 64px;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: 200px;
}

.card-item {
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin: 20px 12px 0px;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  background-color: white;
}

.card-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.card-item-img {
  background-image: url(images/img_violin2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: calc(100% - 20px);
  border-radius: 4px 4px 0 0;
}

.card-item .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.2rem;
  height: 40px;
}

.card-body-icon {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #5f6368;
  padding: 4px 8px;
}

.card-body-icon:hover {
  text-decoration: none;
  color: #73767a;
}

.card-item-label {
  position: absolute;
  top: calc(20% + 20px);
  left: 0;
  padding: 0 12px;
}

.card-item-label-link {
  color: #333;
  text-decoration: none;
}

.card-item-label-link:hover {
  color: #333;
  text-decoration: underline;
}

.card-item-label-course {
  line-height: 2.4rem;
  font-weight: 700;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-item-label-name {
  font-size: 1.4rem;
}

.card-item-options {
  position: absolute;
  top: 5%;
  right: 0;
  font-size: 1.6rem;
  color: rgba(245, 241, 241, 0.9);
  padding: 0 16px 0 24px;
}

.card-item-options:hover {
  color: rgba(209, 203, 203, 0.9);
}

.card-item-dropdown {
  position: absolute;
  top: 97%;
  right: calc(100% - 32px);
  list-style: none;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px 0;
  margin: 0;
  transform-origin: calc(100% - 8px) top;
  animation: Grow ease-in-out 0.2s;
  will-change: opacity, transform;
  display: none;
}

.card-item-options:hover .card-item-dropdown {
  display: block;
}

.card-item-dropdown-item {
  font-size: 1.4rem;
  padding: 6px 16px 6px 12px;
  color: #333;
}

.card-item-dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Modal */
.modal__plus,
.modal__add-student {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn linear 0.1s;
  display: flex;
  z-index: 2;
  visibility: hidden;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  margin: auto;
  /* position: relative; */
  z-index: 3;
  --growth-from: 0.7;
  --growth-to: 1;
  animation: growth linear 0.1s;
}

.auth-form {
  width: 500px;
  border-radius: 24px;
  overflow: hidden;
  background-color: white;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__heading {
  font-size: 2.8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}

.auth-form__form .form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.auth-form__controls {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.auth-form-dialog {
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  margin: auto;
}

.auth-form__container.auth-form__container-remove {
  padding: 0 20px;
}

.auth-form-text {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.auth-form__text-question {
  font-size: 1.4rem;
  padding-left: 8px;
}

.btn-form-add-class {
  margin-right: 12px;
  outline: none;
  background: var(--primary-button);
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn-form-remove-class {
  margin-right: 12px;
  outline: none;
  background: var(--primary-button);
  border: none;
  padding: 8px 28px;
  border-radius: 8px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

/* Detail Class */
.header__list-left-item.header__list-left-item-inf {
  padding-left: 6px;
}

.header__list-left-class {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.header__list-left-teacher-name {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 8px 0 0;
}

.header__list-center {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: -210px;
}

.header__list-center-item {
  padding: 0 12px;
  height: 100%;
  line-height: 64px;
}

.header__list-center-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.header__list-center-item-link {
  text-decoration: none;
  color: #333;
  padding: 32px 0;
}

.header__list-center-item-link:hover {
  text-decoration: none;
  color: #333;
}

/*  */
.app-container-detail {
  padding-top: 32px;
  margin-top: 64px;
}

.grid__row-detail {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.app-container-body-detail {
  position: relative;
}

.body-detail-img {
  width: 100%;
  border-radius: 8px;
}

.body-detail-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding-left: 20px;
}

.body-detail-title-heading {
  font-weight: 700;
}

.grid__row-detail-body {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.grid__left {
  width: 212px;
}

.grid__left-notify {
  border: 1px solid #dadce0;
  background-color: white;
  border-radius: 8px;
  padding: 24px 16px;
}

.grid__left-notify-heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.grid__left-notify-message {
  font-size: 1.3rem;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.549);
}

.grid__left-notify-view {
  display: flex;
  justify-content: flex-end;
}

.grid__left-notify-link {
  text-decoration: none;
  font-weight: bold;
}

.grid__right {
  width: 764px;
}

.grid__right-item {
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 24px;
}

.grid__right-item-heading {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.grid__right-item-time {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.549);
  margin: 0;
}

.grid__row-detail-member {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.body-detail-member-title {
  color: #1967d2;
  padding-left: 16px;
  font-size: 32px;
}

.body-detail-separator-classmate {
  border-top: 2px solid #1967d2;
  margin: 10px 0 0;
}

.body-detail-teachers-list,
.body-detail-students-list {
  list-style: none;
  margin-bottom: 0;
}

.body-detail-teachers-item,
.body-detail-students-item {
  padding: 20px 0px 19px 20px;
  border-bottom: 1px solid #ccc;
}

.body-detail-teachers-item:last-child,
.body-detail-students-item:last-child {
  border: none;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

.body-detail-students-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-detail-student-quantity {
  position: relative;
  top: 12px;
  right: 20px;
  color: #1967d2;
  font-weight: 700;
}

.body-detail-student-quantity-title {
  margin-right: 12px;
}

.body-detail-student-icon-add {
  font-size: 2rem;
}

.body-detail-student-icon-add:hover {
  cursor: pointer;
}

/* Responsive */
/* @media only screen and (max-width: 400px) {
  .main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .form {
    width: 100%;
  }
} */